
@media screen and (min-width: 10px){
    #firstView{
        #headShot{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -100%);
            animation-name: jumpIn;
            animation-duration: 1s;
            img{
                height: 180px;
                width: 180px;
                border-radius: 100%;
                border: 6px solid $my-darkBlue;
                animation-name: rotate;
                animation-duration: 1s;
            }
        }
        #position{
            color: $my-yellow;
            position: absolute;
            top: 72%;
            left: 50%;
            transform: translate(-50%, -100%);
            font-size: 20px;
            text-align: center;
            margin: 0;
            width: 80%;
            // .a{
            //     color: blue
            // }
        }
    }
}

@media screen and (min-width: 600px){
    #firstView{
        #headShot{
            img{
                height: 300px;
                width: 300px;
            }
            
        }
        #position{
            top: 60%;
        }
    }
}

@keyframes jumpIn{
    0%{
        top: 25%;
        left: 130%;
    }
    30%{
        top: 50%;
    }
    50%{
        top: 40%;
    }

    100%{
        top: 50%;
        left: 50%;
    }
}

@keyframes rotate{
    0%{
        transform: rotate(45deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

