
@media screen and (min-width: 10px){
    #firstView{
        #headShot{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -100%);
            animation-name: jumpIn;
            animation-duration: 1s;
            img{
                height: 180px;
                width: 180px;
                border-radius: 100%;
                border: 6px solid $my-darkBlue;
                animation-name: rotate;
                animation-duration: 5s;
                animation-fill-mode: forwards;
                animation-direction: alternate;
                animation-iteration-count: infinite;
            }
        }
    }
}

@keyframes jumpIn{
    0%{
        top: 25%;
        left: 130%;
    }
    30%{
        top: 50%;
    }
    50%{
        top: 40%;
    }

    100%{
        top: 50%;
        left: 50%;
    }
}

@keyframes rotate{
    0%{
        transform: rotateX(45deg);
    }
    50%{
        transform: rotateX(-45deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}