@import '../css_utilities.scss';
@import '../Contact/contact.scss';
@import '../Navbar/navbar.scss';
@import '../GenUtils/Bar.scss';
@import '../description/description.scss';
@import '../Footer/footer.scss';
@import '../Resume/resume.scss';
@import './headShot.scss';
@import '../skills/skills.scss';

@media screen and (min-width: 10px){
    html{
        scroll-behavior: smooth;
        overflow: hidden; 
    }
    body{
        font-family: 'Manjari', sans-serif;
        background-color: $my-red;
        overflow: hidden;
    }
    #firstView{
        position: relative;
        height: 100vh;
    }
    #scroll{
        color: $my-yellow;
        position: absolute;
        left: 50%;
        bottom: 60px;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 30px;
        %arrow{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin: 0 auto;
            font-size: 30px;
            width: 35px;
            color: $my-yellow;
            animation-fill-mode: forwards;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-duration: 1s;
        }
        .arrow_1{
            @extend %arrow;
            bottom: 0px;
            height: 30px;
            animation-name: move1;
            animation-delay: .5s
        }
        .arrow_2{
            @extend %arrow;
            bottom: -18px;
            height: 20px;
            animation-name: move2;
            
        }
    }
    #swipe{ display: block; }
    #click{ display: none; }
}

@media screen and (min-width: 600px){
    #firstView{
        position: relative;
        height: 100vh;
    }
    #swipe{ display: none; }
    #click{ display: block; }
}

@keyframes move1{
    0%{
       bottom: 10px; 
    }
    100%{
        bottom: -5px; 
     }
}
@keyframes move2{
    0%{
       bottom: -18px; 
    }
    100%{
        bottom: -36px; 
     }
}