
@media screen and (min-width: 10px){
    #description{
        height: 85vh;
        text-align: center;
        color: white;
        h2{
            font-size: 2em;
            text-decoration: underline;
        }
        ul{
            list-style: none;
            padding-inline-start: 0;
            li{
                display: block;
                font-size: 1.3em;
            }
        }
        .exp{
            margin: 0;
            margin-bottom: 5px;
            &-sites{
                display: flex;
                justify-content: space-around;
                margin: 0;
                p{
                    margin: 0 
                }
            }
            .arrowDown{
                color: $my-yellow;
            }
        }
    }
}

@media screen and (min-width: 600px){
    #description{
        .exp{
            &-sites{
                display: block;
            }
        }
    }
}