
@media screen and (min-width: 300px){
    header{
        #title{
            background-color: $my-darkBlue;
            &_text{
                text-align: center;
                margin: 0;
                color: $my-yellow;
                padding-bottom: 6px;
                padding-top: 12px;            
            }
        }
    }
}