@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');
$my-red: #224E87;
$my-yellow: rgb(255, 186, 10);
$my-lightBlue: #3F88C5;
$my-darkBlue: #032B43;
$my-turquoise: #869CB2;
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: $my-turquoise;
    text-decoration: underline;
}
