
@media screen and (min-width: 300px){
    #footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 88vh;
        .box{
            position: relative;
            display: flex;
            flex-direction: column;
            border: 1px $my-darkBlue solid;
            h2{
                text-align: center;
                font-size: 1rem;
                color: whitesmoke
            }
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .something{
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                background-color: blue;
            }
            div{
                background-color: $my-red;
                height: 33.3333333333%;
                max-width: 100%;
            }
            h1{
                text-align: center;
                margin: auto 0;
            }
        }
        #snap{
            .top{
                transform: translateX(-50%)
            }
        }
    }
}