
@media screen and (min-width: 200px){
    #footer{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 88vh;
        .box{
            position: relative;
            display: flex;
            flex-direction: column;
            border: 1px $my-darkBlue solid;
            h2{
                text-align: center;
                font-size: 1rem;
                color: whitesmoke
            }
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .picture{
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                background-color: blue;
            }
            div{
                background-color: $my-red;
                height: 33.3333333333%;
                max-width: 100%;
            }
            h1{
                text-align: center;
                margin: auto 0;
            }
        }
        #clicked{
            position: absolute;
            background-color: $my-darkBlue;
            height: 5em;
            width: 12em;
            border: {
                bottom-left-radius: 20% 40%;
                top-left-radius: 20% 40%;
                bottom-right-radius: 20% 40%;
                top-right-radius: 20% 40%;
            }
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            &:hover{
                color: $my-darkBlue;
                background-color: $my-red;
            }
            p{
                color: $my-yellow;
                text-align: center;
                line-height: 1em;
                font-size: 2em;
            }
        }
        #clicked{
            position: absolute;
            background-color: $my-darkBlue;
            height: 5em;
            width: 12em;
            border: {
                bottom-left-radius: 20% 40%;
                top-left-radius: 20% 40%;
                bottom-right-radius: 20% 40%;
                top-right-radius: 20% 40%;
            }
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            &:hover{
                color: $my-darkBlue;
                background-color: $my-red;
            }
            p{
                color: $my-yellow;
                text-align: center;
                line-height: 1em;
                font-size: 2em;
            }
            .click{
                display: none;
            }
            .press{
                display: block;
            }
        }
    }
}

@media screen and (min-width: 600px){
    #footer{
        #clicked{
            .click{
                display: block;
            }
            .press{
                display: none;
            }
        }
    }
}